:root {
	--navbar-color: #fff;
	--navbar-color-r: 255;
	--navbar-color-g: 255;
	--navbar-color-b: 255;
	--navbar-color-h: 0deg;
	--navbar-color-s: 0%;
	--navbar-color-l: 100%;
}

:root {
	--navbar-bg: #3d3c3c;
	--navbar-bg-r: 61;
	--navbar-bg-g: 60;
	--navbar-bg-b: 60;
	--navbar-bg-h: 0deg;
	--navbar-bg-s: 0.82645%;
	--navbar-bg-l: 23.72549%;
}

:root {
	--navbar-hover-color: #fff;
	--navbar-hover-color-r: 255;
	--navbar-hover-color-g: 255;
	--navbar-hover-color-b: 255;
	--navbar-hover-color-h: 0deg;
	--navbar-hover-color-s: 0%;
	--navbar-hover-color-l: 100%;
}

:root {
	--navbar-hover-bg: #fff;
	--navbar-hover-bg-r: 255;
	--navbar-hover-bg-g: 255;
	--navbar-hover-bg-b: 255;
	--navbar-hover-bg-h: 0deg;
	--navbar-hover-bg-s: 0%;
	--navbar-hover-bg-l: 100%;
}

:root {
	--navbar-title-color: #aaa9a9;
	--navbar-title-color-r: 170;
	--navbar-title-color-g: 169;
	--navbar-title-color-b: 169;
	--navbar-title-color-h: 0deg;
	--navbar-title-color-s: 0.5848%;
	--navbar-title-color-l: 66.47059%;
}

:root {
	--navbar-panel-bg: #b5b5b5;
	--navbar-panel-bg-r: 181;
	--navbar-panel-bg-g: 181;
	--navbar-panel-bg-b: 181;
	--navbar-panel-bg-h: 0deg;
	--navbar-panel-bg-s: 0%;
	--navbar-panel-bg-l: 70.98039%;
}

:root {
	--navbar-brand-invert: 0%;
}

.rd-navbar-fixed {
	position: relative;
	z-index: 14;
}

.rd-navbar-fixed li {
	list-style: none;
}

.rd-navbar-fixed .rd-navbar-panel {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	align-items: center;
	padding: 0 5px;
	min-height: 60px;
	background: var(--navbar-panel-bg);
	transition: ease-in-out .2s;
}

.rd-navbar-fixed .rd-navbar-panel-cell {
	position: relative;
	padding: 0 3px;
}

.rd-navbar-fixed .rd-navbar-panel-center {
	flex-grow: 1;
}

.rd-navbar-fixed .rd-navbar-panel-cell-fullscreen,
.rd-navbar-fixed .rd-navbar-panel-cell-search {
	display: none;
}

.rd-navbar-fixed .rd-navbar-panel-cell-user .btn-navbar-panel .media-body {
	display: none;
}

.rd-navbar-fixed .rd-navbar-subpanel {
	position: fixed;
	top: 3.75rem;
	right: 0;
	left: 0;
	transform: translateY(20px);
	display: flex;
	max-height: calc( 100vh - 60px);
	visibility: hidden;
	opacity: 0;
	transition: .2s ease-in-out;
	background: #f9f9f9;
	box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.rd-navbar-fixed .rd-navbar-subpanel.active {
	transform: translateY(0);
	visibility: visible;
	opacity: 1;
}

.rd-navbar-fixed .rd-navbar-subpanel > * {
	flex-grow: 1;
}

.rd-navbar-fixed .rd-navbar-sidebar {
	position: fixed;
	top: 60px;
	bottom: 0;
	left: 0;
	transform: translateX(-110%);
	width: 15.625rem;
	padding-bottom: 40px;
	transition: transform .2s ease-in-out;
	background: var(--navbar-bg);
	overflow: hidden;
	overflow-y: overlay;
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.rd-navbar-fixed .rd-navbar-sidebar-panel {
	padding: 15px;
}

.rd-navbar-fixed .rd-navbar-sidebar-panel .rd-navbar-sidebar-toggle {
	display: none;
}

.rd-navbar-fixed .rd-navbar-sidebar-panel .rd-navbar-brand {
	text-align: center;
	filter: invert( var(--navbar-brand-invert) );
}

.rd-navbar-fixed .rd-navbar-nav,
.rd-navbar-fixed .rd-navbar-dropdown {
	padding: 0;
}

.rd-navbar-fixed .rd-navbar-nav {
	width: 15.625rem;
}

.rd-navbar-fixed .rd-navbar-dropdown {
	display: none;
}

.rd-navbar-fixed .rd-navbar-dropdown .rd-navbar-link {
	padding-left: 35px;
}

.rd-navbar-fixed .rd-navbar-dropdown .rd-navbar-dropdown .rd-navbar-link {
	padding-left: 50px;
}

.rd-navbar-fixed .rd-navbar-title {
	position: relative;
	display: flex;
	align-items: center;
	padding: 10px 10px 10px 20px;
	font-size: 0.9375rem;
	font-weight: 400;
	text-transform: uppercase;
	color: var(--navbar-title-color);
}

.rd-navbar-fixed .rd-navbar-title .rd-navbar-title-icon {
	position: absolute;
	width: 20px;
	text-align: center;
	opacity: 0;
	transition: ease-in-out .2s;
}

.rd-navbar-fixed .rd-navbar-title .rd-navbar-title-text {
	transition: ease-in-out .2s;
	text-overflow: ellipsis;
}

.rd-navbar-fixed .rd-navbar-link {
	position: relative;
	display: flex;
	align-items: center;
	padding: 10px;
	font-size: 0.875rem;
	padding-left: 20px;
	transition: ease-in-out .15s;
	color: var(--navbar-color);
}

.rd-navbar-fixed .rd-navbar-link:hover {
	cursor: pointer;
	background: rgba(var(--navbar-hover-bg-r), var(--navbar-hover-bg-g), var(--navbar-hover-bg-b), 0.15);
	color: var(--navbar-hover-color);
}

.rd-navbar-fixed .rd-navbar-link .rd-navbar-link-text {
	transition: ease-in-out .2s;
}

.rd-navbar-fixed .rd-navbar-dropdown {
	background: hsla(var(--navbar-bg-h), var(--navbar-bg-s), calc( var( --navbar-bg-l ) + 10%), 1);
}

.rd-navbar-fixed .rd-navbar-dropdown-item.active > .rd-navbar-link,
.rd-navbar-fixed .rd-navbar-nav-item.active > .rd-navbar-link {
	background: rgba(var(--navbar-hover-bg-r), var(--navbar-hover-bg-g), var(--navbar-hover-bg-b), 0.15);
	color: var(--navbar-hover-color);
}

.rd-navbar-fixed .rd-navbar-dropdown-item.active > .rd-navbar-link:before,
.rd-navbar-fixed .rd-navbar-nav-item.active > .rd-navbar-link:before {
	transform: translateY(0);
}

.rd-navbar-fixed .rd-navbar-dropdown-item.active > .rd-navbar-link {
	background: rgba(var(--navbar-hover-bg-r), var(--navbar-hover-bg-g), var(--navbar-hover-bg-b), 0.15);
	color: var(--navbar-hover-color);
}

.rd-navbar-fixed .rd-navbar-dropdown-item.active > .rd-navbar-link:before {
	transform: translateY(0);
}

.rd-navbar-fixed .rd-navbar-dropdown-item .rd-navbar-link {
	overflow: hidden;
}

.rd-navbar-fixed .rd-navbar-dropdown-item .rd-navbar-link:before {
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	height: 100%;
	border-left: 3px solid var(--navbar-panel-bg);
	transform: translateY(-100%);
	transition: ease-in-out .2s;
}

.rd-navbar-fixed .rd-navbar-dropdown-item .rd-navbar-link:hover:before {
	transform: translateY(0);
}

.rd-navbar-fixed .rd-navbar-dropdown-item .rd-navbar-dropdown-item .rd-navbar-link:before {
	border-left: 3px solid hsla(var(--navbar-panel-bg-h), var(--navbar-panel-bg-s), calc( var( --navbar-panel-bg-l ) + 15%), 1);
}

.rd-navbar-fixed .rd-navbar-icon {
	padding-right: 10px;
	font-size: 1.125rem;
	line-height: 1;
	transition: ease-in-out .2s;
}

.rd-navbar-fixed .rd-navbar-submenu-toggle {
	position: absolute;
	top: 0;
	right: 0;
	transform: rotate(0deg);
	display: flex;
	align-items: center;
	justify-content: center;
	width: 40px;
	height: 40px;
	padding: 5px;
	transition: background .15s;
	color: var(--navbar-color);
}

.rd-navbar-fixed .rd-navbar-submenu-toggle::before {
	content: '\f105';
	position: relative;
	font-family: 'FontAwesome';
	transition: transform .2s ease-in-out;
}

.rd-navbar-fixed .rd-navbar-submenu-toggle:hover {
	background: rgba(var(--navbar-hover-bg-r), var(--navbar-hover-bg-g), var(--navbar-hover-bg-b), 0.1);
	cursor: pointer;
}

.rd-navbar-fixed .rd-navbar-submenu {
	position: relative;
}

.rd-navbar-fixed .rd-navbar-submenu.opened > .rd-navbar-submenu-toggle::before {
	transform: rotate(90deg);
}

.rd-navbar-fixed .rd-navbar-submenu.opened > .rd-navbar-dropdown {
	display: block;
}

.rd-navbar-sidebar-search .form-control {
	border-color: rgba(var(--navbar-color-r), var(--navbar-color-g), var(--navbar-color-b), 0.25);
	background: rgba(var(--navbar-color-r), var(--navbar-color-g), var(--navbar-color-b), 0.25);
	color: var(--navbar-color);
}

.rd-navbar-sidebar-search .form-control::placeholder {
	color: var(--navbar-color);
}

.rd-navbar-sidebar-active .rd-navbar-sidebar {
	transform: translateX(0);
}

@media (min-width: 576px) {
	.rd-navbar-fixed .rd-navbar-subpanel {
		position: absolute;
		top: calc(100% + 13px);
		right: 0;
		left: auto;
		width: 300px;
	}
	.rd-navbar-fixed .rd-navbar-subpanel#subpanel-user {
		top: calc(100% + 8px);
	}
	.rd-navbar-fixed .rd-navbar-subpanel.rd-navbar-subpanel-sm {
		width: 200px;
	}
}

@media (min-width: 768px) {
	.rd-navbar-fixed .rd-navbar-panel-cell-user .btn-navbar-panel .media-body {
		display: block;
	}
}

@media (min-width: 1200px) {
	.rd-navbar-fixed .rd-navbar-panel {
		left: 250px;
	}
	.rd-navbar-fixed .rd-navbar-panel .rd-navbar-sidebar-toggle {
		display: none;
	}
	.rd-navbar-fixed .rd-navbar-panel .rd-navbar-panel-cell-search,
	.rd-navbar-fixed .rd-navbar-panel .rd-navbar-panel-cell-fullscreen {
		display: block;
	}
	.rd-navbar-fixed .rd-navbar-sidebar-panel {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 10px 15px 10px 20px;
		min-height: 60px;
		background: hsla(var(--navbar-panel-bg-h), var(--navbar-panel-bg-s), calc( var( --navbar-panel-bg-l ) - 10%), 1);
	}
	.rd-navbar-fixed .rd-navbar-sidebar-panel .rd-navbar-sidebar-toggle {
		display: block;
	}
	.rd-navbar-fixed .rd-navbar-sidebar-panel .rd-navbar-sidebar-search {
		display: none;
	}
	.rd-navbar-fixed .rd-navbar-sidebar-panel .rd-navbar-brand {
		max-width: 160px;
	}
	.rd-navbar-fixed .rd-navbar-nav {
		padding-top: 15px;
	}
	.rd-navbar-fixed .rd-navbar-sidebar {
		top: 0;
		transform: translateX(0);
		transition: ease-in-out .2s;
	}
	html:not(.rd-navbar-sidebar-active) .rd-navbar-fixed .rd-navbar-panel {
		left: 60px;
	}
	html:not(.rd-navbar-sidebar-active) .rd-navbar-fixed .rd-navbar-sidebar-panel {
		justify-content: center;
		padding: 10px;
	}
	html:not(.rd-navbar-sidebar-active) .rd-navbar-fixed .rd-navbar-sidebar-panel .rd-navbar-brand {
		width: 0;
		transition: ease-in-out .2s;
	}
	html:not(.rd-navbar-sidebar-active) .rd-navbar-fixed .rd-navbar-title .rd-navbar-title-icon {
		opacity: 1;
	}
	html:not(.rd-navbar-sidebar-active) .rd-navbar-fixed .rd-navbar-sidebar {
		width: 3.75rem;
	}
	html:not(.rd-navbar-sidebar-active) .rd-navbar-fixed .rd-navbar-sidebar .rd-navbar-title-text,
	html:not(.rd-navbar-sidebar-active) .rd-navbar-fixed .rd-navbar-sidebar .rd-navbar-link-text {
		opacity: 0;
	}
	html:not(.rd-navbar-sidebar-active) .rd-navbar-fixed .rd-navbar-sidebar:hover {
		width: 15.625rem;
	}
	html:not(.rd-navbar-sidebar-active) .rd-navbar-fixed .rd-navbar-sidebar:hover .rd-navbar-sidebar-panel {
		justify-content: space-between;
		padding: 10px 15px 10px 20px;
	}
	html:not(.rd-navbar-sidebar-active) .rd-navbar-fixed .rd-navbar-sidebar:hover .rd-navbar-title-icon {
		opacity: 0;
	}
	html:not(.rd-navbar-sidebar-active) .rd-navbar-fixed .rd-navbar-sidebar:hover .rd-navbar-title-text,
	html:not(.rd-navbar-sidebar-active) .rd-navbar-fixed .rd-navbar-sidebar:hover .rd-navbar-link-text {
		opacity: 1;
	}
	html:not(.rd-navbar-sidebar-active) .rd-navbar-fixed .rd-navbar-sidebar:hover .rd-navbar-brand {
		width: auto;
	}
}
