.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

h3{
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


button:focus{
  border: unset !important;
}



.sent .message-info{
  text-transform: capitalize;
  color: #F5F5F5;
  font-size: smaller;
  margin-top: 10px;
}

.sent .message-info .message-time{
  float: left;
}


.sent .message-info .message-status{
  float: right;
}


.replies .message-info {
  text-transform: capitalize;
  color: #435F7A;
  font-size: smaller;
  margin-top: 10px;
}


.replies .message-info .message-time{
  float: left;
}


.replies .message-info .message-status{
  float: right;
}

.sent p span {
  border-bottom: 1px solid;
  display: block;
  margin-bottom: 10px;
}

.replies p span {
  border-bottom: 1px solid;
  display: block;
  margin-bottom: 10px;
}


