body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button:focus {
    border: unset !important;
}

button:focus {
    outline: 0 !important;
}


.paperContainer{
    background: #282c34;
    position:fixed;
    padding:0;
    margin:0;
    top:0;
    left:0;
    width: 100%;
    height: 100%;

}

.paperContainerPrivacy{
    background: #282c34;
    padding:0;
    margin:0;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    display: flex;
}

.copyright{
    color: white !important;
}

.privacy-policy-footer{
    margin-bottom: 20px;
    margin-top: 20px;
    color: white;
}

.privacy-policy-footer p{
    color: white;
}


span.error {
    color: red;
    margin-left: 2px;
    margin-top: 5px;
    display: block;
}
tr[level="0"] {
    background-color: inherit;
}

tr[level="1"] {
    background-color: #e8e8e8;
}

tr[level="2"] {
    background-color: #dcdcdc;
}

tr[level="3"] {
    background-color: #cfcfcf;
}

tr[level="4"] {
    background-color: #b6b6b6;
}

.custom-button-message {
    margin-top: 20px;
    float: right;
}
/*tr[index="2"]{*/
/*    background-color: #e8e8e8;*/
/*}*/




/*body{*/
/*    font-family: 'Poppins', sans-serif !important;*/
/*}*/

/*.okta-custom{*/
/*    transform: scale(0.8, 0.8);*/

/*}*/
.send-as-mail{
    float: right;
    margin-top: 15px;
}
