.table {
	width: 100%;
	margin-bottom: 1rem;
	color: #797b7c;
}

.table th,
.table td {
	padding: 0.75rem;
	vertical-align: top;
	border-top: 1px solid #ddd;
}

.table thead th {
	vertical-align: bottom;
	border-bottom: 2px solid #ddd;
}

.table tbody + tbody {
	border-top: 2px solid #ddd;
}

.table-sm th,
.table-sm td {
	padding: 0.3rem;
}

.table-bordered {
	border: 1px solid #ddd;
}

.table-bordered th,
.table-bordered td {
	border: 1px solid #ddd;
}

.table-bordered thead th,
.table-bordered thead td {
	border-bottom-width: 2px;
}

.table-borderless th,
.table-borderless td,
.table-borderless thead th,
.table-borderless tbody + tbody {
	border: 0;
}

.table-striped tbody tr:nth-of-type(odd) {
	background-color: #f9f9f9;
}

.table-hover tbody tr:hover {
	color: #797b7c;
	background-color: rgba(0, 0, 0, 0.075);
}

.table-primary,
.table-primary > th,
.table-primary > td {
	background-color: #d6e0eb;
}

.table-primary th,
.table-primary td,
.table-primary thead th,
.table-primary tbody + tbody {
	border-color: #b3c6db;
}

.table-hover .table-primary:hover {
	background-color: #c5d3e3;
}

.table-hover .table-primary:hover > td,
.table-hover .table-primary:hover > th {
	background-color: #c5d3e3;
}

.table-secondary,
.table-secondary > th,
.table-secondary > td {
	background-color: #e2daf5;
}

.table-secondary th,
.table-secondary td,
.table-secondary thead th,
.table-secondary tbody + tbody {
	border-color: #c8baed;
}

.table-hover .table-secondary:hover {
	background-color: #d2c6f0;
}

.table-hover .table-secondary:hover > td,
.table-hover .table-secondary:hover > th {
	background-color: #d2c6f0;
}

.table-success,
.table-success > th,
.table-success > td {
	background-color: #b8eee7;
}

.table-success th,
.table-success td,
.table-success thead th,
.table-success tbody + tbody {
	border-color: #7ae0d3;
}

.table-hover .table-success:hover {
	background-color: #a3e9e0;
}

.table-hover .table-success:hover > td,
.table-hover .table-success:hover > th {
	background-color: #a3e9e0;
}

.table-info,
.table-info > th,
.table-info > td {
	background-color: #d6f2f7;
}

.table-info th,
.table-info td,
.table-info thead th,
.table-info tbody + tbody {
	border-color: #b3e7ef;
}

.table-hover .table-info:hover {
	background-color: #c1ebf3;
}

.table-hover .table-info:hover > td,
.table-hover .table-info:hover > th {
	background-color: #c1ebf3;
}

.table-warning,
.table-warning > th,
.table-warning > td {
	background-color: #fdeece;
}

.table-warning th,
.table-warning td,
.table-warning thead th,
.table-warning tbody + tbody {
	border-color: #fbe0a4;
}

.table-hover .table-warning:hover {
	background-color: #fce6b6;
}

.table-hover .table-warning:hover > td,
.table-hover .table-warning:hover > th {
	background-color: #fce6b6;
}

.table-danger,
.table-danger > th,
.table-danger > td {
	background-color: #fad3d3;
}

.table-danger th,
.table-danger td,
.table-danger thead th,
.table-danger tbody + tbody {
	border-color: #f6adad;
}

.table-hover .table-danger:hover {
	background-color: #f7bcbc;
}

.table-hover .table-danger:hover > td,
.table-hover .table-danger:hover > th {
	background-color: #f7bcbc;
}

.table-light,
.table-light > th,
.table-light > td {
	background-color: whitesmoke;
}

.table-light th,
.table-light td,
.table-light thead th,
.table-light tbody + tbody {
	border-color: #ededed;
}

.table-hover .table-light:hover {
	background-color: #e8e8e8;
}

.table-hover .table-light:hover > td,
.table-hover .table-light:hover > th {
	background-color: #e8e8e8;
}

.table-dark,
.table-dark > th,
.table-dark > td {
	background-color: #c8c8c8;
}

.table-dark th,
.table-dark td,
.table-dark thead th,
.table-dark tbody + tbody {
	border-color: #9a9999;
}

.table-hover .table-dark:hover {
	background-color: #bbbbbb;
}

.table-hover .table-dark:hover > td,
.table-hover .table-dark:hover > th {
	background-color: #bbbbbb;
}

.table-active,
.table-active > th,
.table-active > td {
	background-color: rgba(0, 0, 0, 0.075);
}

.table-hover .table-active:hover {
	background-color: rgba(0, 0, 0, 0.075);
}

.table-hover .table-active:hover > td,
.table-hover .table-active:hover > th {
	background-color: rgba(0, 0, 0, 0.075);
}

.table .thead-dark th {
	color: #fff;
	background-color: #585757;
	border-color: #6b6a6a;
}

.table .thead-light th {
	color: #797b7c;
	background-color: #eeeeee;
	border-color: #ddd;
}

.table-dark {
	color: #fff;
	background-color: #585757;
}

.table-dark th,
.table-dark td,
.table-dark thead th {
	border-color: #6b6a6a;
}

.table-dark.table-bordered {
	border: 0;
}

.table-dark.table-striped tbody tr:nth-of-type(odd) {
	background-color: rgba(255, 255, 255, 0.05);
}

.table-dark.table-hover tbody tr:hover {
	color: #fff;
	background-color: rgba(255, 255, 255, 0.075);
}

@media (max-width: 575.98px) {
	.table-responsive-sm {
		display: block;
		width: 100%;
		overflow-x: auto;
		-webkit-overflow-scrolling: touch;
	}
	.table-responsive-sm > .table-bordered {
		border: 0;
	}
}

@media (max-width: 767.98px) {
	.table-responsive-md {
		display: block;
		width: 100%;
		overflow-x: auto;
		-webkit-overflow-scrolling: touch;
	}
	.table-responsive-md > .table-bordered {
		border: 0;
	}
}

@media (max-width: 991.98px) {
	.table-responsive-lg {
		display: block;
		width: 100%;
		overflow-x: auto;
		-webkit-overflow-scrolling: touch;
	}
	.table-responsive-lg > .table-bordered {
		border: 0;
	}
}

@media (max-width: 1199.98px) {
	.table-responsive-xl {
		display: block;
		width: 100%;
		overflow-x: auto;
		-webkit-overflow-scrolling: touch;
	}
	.table-responsive-xl > .table-bordered {
		border: 0;
	}
}

@media (max-width: 1599.98px) {
	.table-responsive-xxl {
		display: block;
		width: 100%;
		overflow-x: auto;
		-webkit-overflow-scrolling: touch;
	}
	.table-responsive-xxl > .table-bordered {
		border: 0;
	}
}

.table-responsive {
	display: block;
	width: 100%;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
}

.table-responsive > .table-bordered {
	border: 0;
}

.table {
	margin-bottom: 0;
}

.table-vertical-align td, .table-vertical-align th {
	vertical-align: middle;
}

.table-align-1 th:nth-child(1),
.table-align-1 td:nth-child(1) {
	text-align: center;
}

.data-table {
	width: 100% !important;
}
