#formAdd{
    margin-bottom:40px
}
.input-group-prepend{
    margin-left: -1px;
}
.address-billing .panel{
    min-height: 260px;
}
/* .address-billing .panel .panel-body{
    overflow-x: scroll;
} */
.entities-data tfoot{
    display:none;
}
/* .entities-data tfoot th:nth-child(2) input, .entities-data tfoot th:nth-child(3) input{
    display:none;
} */

.dl-horizontal dt{
    text-align: left !important;
    min-width:120px !important;
}
.attachment-table table tfoot{
    display: none;
}
/* .four-boxes{
    margin-bottom: 20px;
} */
.four-boxes .panel-header, .entity-form .panel-header{
    background: #333;
    padding-left: 15px;
    color: #fff;
}
.four-boxes .panel, .entity-form .panel{
    margin-top:0;
}
.four-boxes .panel .dl-horizontal{
    display: inline-block;
    
}
.four-boxes .panel .dl-horizontal .border-section, .four-boxes .panel .border-section{
    border-bottom: 0 solid #ccc;
    display: block;
    padding-bottom:0;
    margin-bottom: 8px;
}

.four-boxes .panel .border-section{
    padding-bottom:5px;
}
.four-boxes .panel .border-section span{
    margin-right: 10px;
    color: #840cfe;
    font-size: 1.2em;
}
.four-boxes .panel .border-section span.addresstwo{
    margin-right: 30px;
    display: inline-block;
}
.four-boxes .panel .dl-horizontal dd{
    line-height:24px
}
.four-boxes .panel .dl-horizontal dd, .four-boxes .panel .dl-horizontal dt, .four-boxes .panel .border-section{
    color: #333;
}
dl + dl{
    margin-top: 0px;
}
.attachment{
    display: block;
    width: 100%;
}
.input-group .custom-file{
    margin-top: 7px;
}
.compliance input[type=checkbox]{
    width: auto;
}
.add-contact{
    color: #fff;
    padding-right:20px;
    padding-left: 15px;
    line-height: 46px;
    margin-top: -12px;
}
.add-contact:hover{
    background: #666;
    color: #fff;
}
.client-form span.steric{
    color: red
}
.client-form .compliance{
    margin-top:0
}
.client-form label.custom-file-label{
    border-radius: 4px;
    border:1px solid #ccc
}
.contact-form .errorMsg{
    margin-bottom: 15px;
    color: red;
}
.contact-form label{
    font-size:16px;
    color: #000;
}
.contact-form input[type=text]{
    font-size:14px
}
.preloader{
    position:fixed;
    width:100%;
    height:100%;
    background: rgba(255, 255, 255, .9);
    text-align:center;
    z-index:999;
    display: none;
    
}
.preloader img{
    margin: 25% 0;
}
.servererror, .validaddress{
    display:none;
    font-size: 14px;
}
.validaddress span, .servererror span{
    color:red;
    display: block;
    margin-bottom: 15px;
}
.contact-form label span.require{
    color: red;
}
.note p{
    color: #000;
    font-size: 14px;
}
.successMessage, .editMessage{
    position: fixed;
    top:0;
    left: 0;
    width:100%;
    /* margin:0 auto; */
    z-index: 99;
    text-align: center;
    transition: linear .3s ease-in-out;
    display: none;
}
.successMessage .smessage, .editMessage .semessage{
    background: #6fbb47;
    color:#fff;
    font-size:14px;
    padding:10px 15px;
    border-radius:5px;
    display: inline-block;
}

/* BOOTSTRAP SWITCH CSS for YES AND NO */
/* .checkbox label .toggle,
.checkbox-inline .toggle {
	margin-left: -20px;
	margin-right: 5px;
} */

.toggle {
	position: relative;
	overflow: hidden;
}
.toggle input[type="checkbox"] {
	display: none;
}
.toggle .toggle-group {
	position: absolute;
	width: 200%;
	top: 0;
	bottom: 0;
	left: 0;
	transition: left 0.35s;
	-webkit-transition: left 0.35s;
	-moz-user-select: none;
    -webkit-user-select: none;
    font-size: 13px;
}
.toggle-group .toggle-on, .toggle-group .toggle-off{
    font-size: 12px;
} 
.toggle.off .toggle-group {
	left: -100%;
}
.toggle-on {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 50%;
	margin: 0;
	border: 0;
    border-radius: 0;
    background-color:#6fbb47 !important;
    border-color: #6fbb47 !important;
}
.toggle-off {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 50%;
	right: 0;
	margin: 0;
	border: 0;
	border-radius: 0;
}
.toggle-handle {
	position: relative;
	margin: 0 auto;
	padding-top: 0px;
	padding-bottom: 0px;
	height: 100%;
	width: 0px;
	border-width: 0 1px;
}
.toggle-handle.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.toggle.ios, .toggle-on.ios, .toggle-off.ios { border-radius: 20px; }
.toggle.ios .toggle-handle { border-radius: 20px; }
.toggle.btn { min-width: 59px; min-height: 34px; }
.toggle-on.btn { padding-right: 24px; }
.toggle-off.btn { padding-left: 24px; }
.dangerparent, .entitysuccessparent, .infoparent{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    text-align: center;
}
.dangerparent .errormsg, .entitysuccessparent .success, .infoparent .infobox{
    width: 430px;
    display: inline-block;
}
/* .toggle.ios{
    width: 50px !important;
    height: 34px !important;
} */
.btns button{
    float: right;
}
.btns button:last-child{
    margin-right: 10px;
}
[contentEditable=false]:empty:not(:focus):after{
    content:attr(data-text);
    color: #000;
}
.loginmsg{
    display: block;
    border:2px solid #ccc;
    padding: 10px;
    color: #666;
    margin-top: 50px;
    text-align: center;
}
#modalpopup {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    display: none;
    margin-top: 250px;
}
.popup_modal_body {
    width: 500px;
    margin: 0 auto;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 0 5px #ccc;
}
.popup_body {
    padding: 20px 15px;
    display: inline-block;
    font-size: 14px;
    color: #333;
    width:100%
}
.btn_area {
    display: inline-block;
    width: 100%;
    padding: 20px 15px 10px;
    border-top: 0 solid #ccc;
}
.btn_area input#okBtn{
    float: right;
    padding: 0.5rem 1.2rem;
    margin-right:10px
}
.btn_area input#cancelBtn, .btn_area input#cancel_Btn{
    float: right;
}

/*  This CSS for Admins Page (ADMINISTRATOR) -- Start Here  */
.column {
    float: left;
    background: #fff;
    width: 100%;
}
.field{
    display: inline-block;
    margin-top: 0 !important;
}
.field label{
    font-size: 12px;
    font-weight: 700;
}
.field input.input{
    height: 37px;
    padding:5px 7px;
    width: 100%;
    border:1px solid #ccc;
}

.field input#email{
    width: 88%;
    margin-top: 0;
}
.field button.is-link{
    float: right;
}
.field input.input.error{
    border:1px solid red;
}
.field .errorMessage{
    color: red;
    padding-top: 5px;
    display: inline-block;
    width: 100%;
}
.field.is-grouped{
    display: inline-block;
    width: 20%;
}
.create-contacts{
    float: right;
    margin-top: 30px;
}
.new-contactspanel{
    display: none;
}
.edit, .delete, .reset, .update {
    padding-left: 10px !important;
    padding-right: 10px !important;
    width: 35px;
    height: 30px;
    border: none;
}
.edit{
    background: url(../../images/button_sprite.png) top center no-repeat;
}
.delete{
    background: url(../../images/button_sprite.png) center -52px no-repeat;
}
.update{
    background: url(../../images/button_sprite.png) center -105px no-repeat;
}
.reset{
    background: url(../../images/button_sprite.png) center -161px no-repeat;
}
.editable select{
    padding: 3px 5px;
    width: 100%;
}
.dataTables_filter{
    margin-bottom: 15px;
}
.dataTables_filter input[type=search], .dataTables_length select{
    border:1px solid #ccc;
    padding: 3px 7px;
}
.dataTables_length select{
    width: 50%;
    margin: 0 5px;
}
.dataTables_length{
    width: 17%;
}
.dataTables_length label{
    width: 100%;
}
.paging_simple_numbers{
    border: 1px solid #ccc;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover{
    background: #6d92b9 !important;
    border-color: #6d92b9 !important;
    color: #fff !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover{
    background: #eee !important;
    border-color: #ddd !important;
    color: #000 !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button, .dataTables_wrapper .dataTables_paginate .paginate_button.current{
    border-radius: 0;
}
.dataTables_wrapper .dataTables_paginate{
    padding-top: 0;
}
#DataTables_Table_2_admin, #DataTables_Table_3{
    margin-bottom: 20px;
}
.tableErrorMessage {
    display: inline-block;
    padding-top: 5px;
    color: red;
}
.successmsg-wrapper{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    display: none;
}
.successMesgBox{
    background: #6fbb47 !important;
    width: 400px;
    margin: 10px auto 0;
    text-align: center;
}
.editableColumnsStyle{
    width: 100%;
    padding: 3px 7px;
}
.loader {
    float: right;
    height: 35px;
    padding: 0 20px;
    line-height: 35px;
    display: none;
}
.loader img{
    width: 20px;
}



/*  This CSS for Admins Page (ADMINISTRATOR) -- End Here  */


/*  This is Media Query CSS for Responsive  */

@media (max-width:768px){
    .four-boxes .panel .border-section{
        margin-bottom:15px
    }
}
@media (max-width:667px){
    /*.four-boxes .panel .border-section{*/
    /*    margin-bottom:15px*/
    /*}*/
    .template-panel{
        display: none;
    }
    .four-boxes{
        margin-bottom:15px
    }
    .four-boxes:last-child{
        margin-bottom:0
    }
}
@media (max-width:480px){
    /*.four-boxes .panel .border-section{*/
    /*    margin-bottom:15px*/
    /*}*/
    .template-panel{
        display: none;
    }
    .four-boxes{
        margin-bottom:15px
    }
    .four-boxes:last-child{
        margin-bottom:0
    }
    #modalpopup .popup_modal_body{
        width:100%;
    }
    .btn_area input#okBtn{
        float: left;
        width: 46%;
    }
    .btn_area input#cancelBtn, .btn_area input#cancel_Btn{
        width: 46%;
    }
}
@media (max-width:320px){
    .four-boxes{
        width: 100%;
    }
    .four-boxes{
        margin-bottom:15px
    }
    .four-boxes:last-child{
        margin-bottom:0
    }
    /*.four-boxes .panel .border-section{*/
    /*    margin-bottom:10px*/
    /*}*/
    .template-panel{
        display: none;
    }
    #modalpopup .popup_modal_body{
        width:100%;
    }
    .btn_area input#okBtn{
        float: left;
        width: 46%;
    }
    .btn_area input#cancelBtn, .btn_area input#cancel_Btn{
        width: 46%;
    }
    #closeModalBtn, #saveClose, #saveAddNew {
        font-size: .75rem;
    }
    #saveAddNew{
        float: left;
    }
    .breadcrumbs{
        font-size: 1rem !important;
    }
}
