.alert {
	position: relative;
	padding: 0.75rem 1.25rem;
	margin-bottom: 1rem;
	border: 1px solid transparent;
	border-radius: 0.25rem;
}

.alert-heading {
	color: inherit;
}

.alert-link {
	font-weight: 700;
}

.alert-dismissible {
	padding-right: 3.71875rem;
}

.alert-dismissible .close {
	position: absolute;
	top: 0;
	right: 0;
	padding: 0.75rem 1.25rem;
	color: inherit;
}

.alert-primary {
	color: #394c60;
	background-color: #e2e9f1;
	border-color: #d6e0eb;
}

.alert-primary hr {
	border-top-color: #c5d3e3;
}

.alert-primary .alert-link {
	color: #263340;
}

.alert-secondary {
	color: #4e3f72;
	background-color: #eae4f8;
	border-color: #e2daf5;
}

.alert-secondary hr {
	border-top-color: #d2c6f0;
}

.alert-secondary .alert-link {
	color: #382d51;
}

.alert-success {
	color: #006558;
	background-color: #ccf3ee;
	border-color: #b8eee7;
}

.alert-success hr {
	border-top-color: #a3e9e0;
}

.alert-success .alert-link {
	color: #00322c;
}

.alert-info {
	color: #386d75;
	background-color: #e2f6f9;
	border-color: #d6f2f7;
}

.alert-info hr {
	border-top-color: #c1ebf3;
}

.alert-info .alert-link {
	color: #274d53;
}

.alert-warning {
	color: #81662a;
	background-color: #fef3dc;
	border-color: #fdeece;
}

.alert-warning hr {
	border-top-color: #fce6b6;
}

.alert-warning .alert-link {
	color: #5b481d;
}

.alert-danger {
	color: #7c3232;
	background-color: #fcdfdf;
	border-color: #fad3d3;
}

.alert-danger hr {
	border-top-color: #f7bcbc;
}

.alert-danger .alert-link {
	color: #582323;
}

.alert-light {
	color: #737373;
	background-color: #f8f8f8;
	border-color: whitesmoke;
}

.alert-light hr {
	border-top-color: #e8e8e8;
}

.alert-light .alert-link {
	color: #5a5a5a;
}

.alert-dark {
	color: #1f1f1f;
	background-color: #d8d8d8;
	border-color: #c8c8c8;
}

.alert-dark hr {
	border-top-color: #bbbbbb;
}

.alert-dark .alert-link {
	color: #060606;
}

.alert {
	margin-bottom: 0;
	font-size: 0.8125rem;
	line-height: 1.49;
	border-width: 0;
}

.alert a:not(.btn) {
	color: inherit;
	text-decoration: underline;
}

.alert a:not(.btn):hover {
	text-decoration: none;
}

.alert h1, .alert h2, .alert h3, .alert h4, .alert h5, .alert h6, .alert .h1, .alert .h2, .alert .h3, .alert .h4, .alert .h5, .alert .h6 {
	color: inherit;
}

.alert-sm {
	padding: 0.6rem 1rem;
	font-size: 0.73125rem;
}

.alert-sm.alert-dismissible {
	padding-right: 2.73125rem;
}

.alert-lg {
	padding: 0.9rem 1.5rem;
	font-size: 0.975rem;
}

.alert-lg.alert-dismissible {
	padding-right: 3.975rem;
}

.alert-border-left {
	border-left-width: 5px;
}

.alert-border-right {
	border-right-width: 5px;
}

.alert-border-top {
	border-top-width: 5px;
}

.alert-border-bottom {
	border-bottom-width: 5px;
}

.alert-icon {
	padding-right: 0.4em;
	font-size: 1.55em;
	line-height: 1;
	vertical-align: middle;
}

* + .alert {
	margin-top: 0.9375rem;
}

.alert-primary {
	color: #fff;
	background-color: #6d92b9;
	border-color: rgba(255, 255, 255, 0.3);
}

.alert-primary hr {
	border-top-color: rgba(242, 242, 242, 0.3);
}

.alert-primary .alert-link {
	color: #e6e6e6;
}

.alert-primary.alert-darker {
	color: #fff;
	background-color: #4f78a4;
	border-color: #3e5f82;
}

.alert-primary.alert-darker hr {
	border-top-color: #365271;
}

.alert-primary.alert-darker .alert-link {
	color: #e6e6e6;
}

.alert-primary.alert-lighter {
	color: #394c60;
	background-color: #8facca;
	border-color: #6d92b9;
}

.alert-primary.alert-lighter hr {
	border-top-color: #5c85b1;
}

.alert-primary.alert-lighter .alert-link {
	color: #263340;
}

.alert-secondary {
	color: #fff;
	background-color: #967adc;
	border-color: rgba(255, 255, 255, 0.3);
}

.alert-secondary hr {
	border-top-color: rgba(242, 242, 242, 0.3);
}

.alert-secondary .alert-link {
	color: #e6e6e6;
}

.alert-secondary.alert-darker {
	color: #fff;
	background-color: #7652d1;
	border-color: #5a32be;
}

.alert-secondary.alert-darker hr {
	border-top-color: #502daa;
}

.alert-secondary.alert-darker .alert-link {
	color: #e6e6e6;
}

.alert-secondary.alert-lighter {
	color: #4e3f72;
	background-color: #b6a2e7;
	border-color: #967adc;
}

.alert-secondary.alert-lighter hr {
	border-top-color: #8666d7;
}

.alert-secondary.alert-lighter .alert-link {
	color: #382d51;
}

.alert-success {
	color: #fff;
	background-color: #00c3aa;
	border-color: rgba(255, 255, 255, 0.3);
}

.alert-success hr {
	border-top-color: rgba(242, 242, 242, 0.3);
}

.alert-success .alert-link {
	color: #e6e6e6;
}

.alert-success.alert-darker {
	color: #fff;
	background-color: #00907e;
	border-color: #005d51;
}

.alert-success.alert-darker hr {
	border-top-color: #00443b;
}

.alert-success.alert-darker .alert-link {
	color: #e6e6e6;
}

.alert-success.alert-lighter {
	color: #006558;
	background-color: #00f6d6;
	border-color: #00c3aa;
}

.alert-success.alert-lighter hr {
	border-top-color: #00aa94;
}

.alert-success.alert-lighter .alert-link {
	color: #00322c;
}

.alert-info {
	color: #386d75;
	background-color: #6cd1e1;
	border-color: rgba(56, 109, 117, 0.3);
}

.alert-info hr {
	border-top-color: rgba(48, 93, 100, 0.3);
}

.alert-info .alert-link {
	color: #274d53;
}

.alert-info.alert-darker {
	color: #fff;
	background-color: #42c4d8;
	border-color: #27abc0;
}

.alert-info.alert-darker hr {
	border-top-color: #2398ab;
}

.alert-info.alert-darker .alert-link {
	color: #e6e6e6;
}

.alert-info.alert-lighter {
	color: #386d75;
	background-color: #96deea;
	border-color: #6cd1e1;
}

.alert-info.alert-lighter hr {
	border-top-color: #57cadd;
}

.alert-info.alert-lighter .alert-link {
	color: #274d53;
}

.alert-warning {
	color: #81662a;
	background-color: #f8c450;
	border-color: rgba(129, 102, 42, 0.3);
}

.alert-warning hr {
	border-top-color: rgba(110, 87, 36, 0.3);
}

.alert-warning .alert-link {
	color: #5b481d;
}

.alert-warning.alert-darker {
	color: #81662a;
	background-color: #f6b31f;
	border-color: #d99909;
}

.alert-warning.alert-darker hr {
	border-top-color: #c18808;
}

.alert-warning.alert-darker .alert-link {
	color: #5b481d;
}

.alert-warning.alert-lighter {
	color: #81662a;
	background-color: #fad581;
	border-color: #f8c450;
}

.alert-warning.alert-lighter hr {
	border-top-color: #f7bc37;
}

.alert-warning.alert-lighter .alert-link {
	color: #5b481d;
}

.alert-danger {
	color: #fff;
	background-color: #ee6161;
	border-color: rgba(255, 255, 255, 0.3);
}

.alert-danger hr {
	border-top-color: rgba(242, 242, 242, 0.3);
}

.alert-danger .alert-link {
	color: #e6e6e6;
}

.alert-danger.alert-darker {
	color: #fff;
	background-color: #e93333;
	border-color: #d21717;
}

.alert-danger.alert-darker hr {
	border-top-color: #bb1414;
}

.alert-danger.alert-darker .alert-link {
	color: #e6e6e6;
}

.alert-danger.alert-lighter {
	color: #7c3232;
	background-color: #f38f8f;
	border-color: #ee6161;
}

.alert-danger.alert-lighter hr {
	border-top-color: #ec4a4a;
}

.alert-danger.alert-lighter .alert-link {
	color: #582323;
}

.alert-light {
	color: #737373;
	background-color: #ddd;
	border-color: rgba(115, 115, 115, 0.3);
}

.alert-light hr {
	border-top-color: rgba(102, 102, 102, 0.3);
}

.alert-light .alert-link {
	color: #5a5a5a;
}

.alert-light.alert-darker {
	color: #737373;
	background-color: #c4c4c4;
	border-color: #aaaaaa;
}

.alert-light.alert-darker hr {
	border-top-color: #9d9d9d;
}

.alert-light.alert-darker .alert-link {
	color: #5a5a5a;
}

.alert-light.alert-lighter {
	color: #737373;
	background-color: #f7f7f7;
	border-color: #dddddd;
}

.alert-light.alert-lighter hr {
	border-top-color: #d0d0d0;
}

.alert-light.alert-lighter .alert-link {
	color: #5a5a5a;
}

.alert-dark {
	color: #fff;
	background-color: #3c3b3b;
	border-color: rgba(255, 255, 255, 0.3);
}

.alert-dark hr {
	border-top-color: rgba(242, 242, 242, 0.3);
}

.alert-dark .alert-link {
	color: #e6e6e6;
}

.alert-dark.alert-darker {
	color: #fff;
	background-color: #222222;
	border-color: #090808;
}

.alert-dark.alert-darker hr {
	border-top-color: black;
}

.alert-dark.alert-darker .alert-link {
	color: #e6e6e6;
}

.alert-dark.alert-lighter {
	color: #fff;
	background-color: #565454;
	border-color: #3c3b3b;
}

.alert-dark.alert-lighter hr {
	border-top-color: #2f2e2e;
}

.alert-dark.alert-lighter .alert-link {
	color: #e6e6e6;
}

.alert-primary.alert-gradient {
	color: #fff;
	background-color: #4f78a4;
	border-color: rgba(255, 255, 255, 0.3);
	background: linear-gradient(180deg, #6d92b9, #8facca) repeat-x;
}

.alert-primary.alert-gradient hr {
	border-top-color: rgba(242, 242, 242, 0.3);
}

.alert-primary.alert-gradient .alert-link {
	color: #e6e6e6;
}

.alert-secondary.alert-gradient {
	color: #fff;
	background-color: #7652d1;
	border-color: rgba(255, 255, 255, 0.3);
	background: linear-gradient(180deg, #967adc, #b6a2e7) repeat-x;
}

.alert-secondary.alert-gradient hr {
	border-top-color: rgba(242, 242, 242, 0.3);
}

.alert-secondary.alert-gradient .alert-link {
	color: #e6e6e6;
}

.alert-success.alert-gradient {
	color: #fff;
	background-color: #00907e;
	border-color: rgba(255, 255, 255, 0.3);
	background: linear-gradient(180deg, #00c3aa, #00f6d6) repeat-x;
}

.alert-success.alert-gradient hr {
	border-top-color: rgba(242, 242, 242, 0.3);
}

.alert-success.alert-gradient .alert-link {
	color: #e6e6e6;
}

.alert-info.alert-gradient {
	color: #386d75;
	background-color: #42c4d8;
	border-color: rgba(56, 109, 117, 0.3);
	background: linear-gradient(180deg, #6cd1e1, #96deea) repeat-x;
}

.alert-info.alert-gradient hr {
	border-top-color: rgba(48, 93, 100, 0.3);
}

.alert-info.alert-gradient .alert-link {
	color: #274d53;
}

.alert-warning.alert-gradient {
	color: #81662a;
	background-color: #f6b31f;
	border-color: rgba(129, 102, 42, 0.3);
	background: linear-gradient(180deg, #f8c450, #fad581) repeat-x;
}

.alert-warning.alert-gradient hr {
	border-top-color: rgba(110, 87, 36, 0.3);
}

.alert-warning.alert-gradient .alert-link {
	color: #5b481d;
}

.alert-danger.alert-gradient {
	color: #fff;
	background-color: #e93333;
	border-color: rgba(255, 255, 255, 0.3);
	background: linear-gradient(180deg, #ee6161, #f38f8f) repeat-x;
}

.alert-danger.alert-gradient hr {
	border-top-color: rgba(242, 242, 242, 0.3);
}

.alert-danger.alert-gradient .alert-link {
	color: #e6e6e6;
}

.alert-light.alert-gradient {
	color: #737373;
	background-color: #c4c4c4;
	border-color: rgba(115, 115, 115, 0.3);
	background: linear-gradient(180deg, #ddd, #f7f7f7) repeat-x;
}

.alert-light.alert-gradient hr {
	border-top-color: rgba(102, 102, 102, 0.3);
}

.alert-light.alert-gradient .alert-link {
	color: #5a5a5a;
}

.alert-dark.alert-gradient {
	color: #fff;
	background-color: #222222;
	border-color: rgba(255, 255, 255, 0.3);
	background: linear-gradient(180deg, #3c3b3b, #565454) repeat-x;
}

.alert-dark.alert-gradient hr {
	border-top-color: rgba(242, 242, 242, 0.3);
}

.alert-dark.alert-gradient .alert-link {
	color: #e6e6e6;
}
