.drop-cap::first-letter {
	float: left;
	padding: 0.3125rem;
	margin-right: 0.3125rem;
	font-family: 'Droid Serif', serif;
	font-size: 3em;
	font-weight: 800;
	line-height: .7;
	border-radius: 0.375rem;
}

@media (min-width: 992px) {
	.drop-cap::first-letter {
		padding: 0.4375rem;
		font-size: 4.5em;
	}
}

.drop-cap-fill::first-letter {
	margin-right: 0.625rem;
}

.drop-cap-primary::first-letter {
	color: #6d92b9;
}

.drop-cap-primary.drop-cap-fill::first-letter {
	color: #fff;
	background-color: #6d92b9;
}

.drop-cap-secondary::first-letter {
	color: #967adc;
}

.drop-cap-secondary.drop-cap-fill::first-letter {
	color: #fff;
	background-color: #967adc;
}

.drop-cap-success::first-letter {
	color: #00c3aa;
}

.drop-cap-success.drop-cap-fill::first-letter {
	color: #fff;
	background-color: #00c3aa;
}

.drop-cap-info::first-letter {
	color: #6cd1e1;
}

.drop-cap-info.drop-cap-fill::first-letter {
	color: #3d3c3c;
	background-color: #6cd1e1;
}

.drop-cap-warning::first-letter {
	color: #f8c450;
}

.drop-cap-warning.drop-cap-fill::first-letter {
	color: #3d3c3c;
	background-color: #f8c450;
}

.drop-cap-danger::first-letter {
	color: #ee6161;
}

.drop-cap-danger.drop-cap-fill::first-letter {
	color: #fff;
	background-color: #ee6161;
}

.drop-cap-light::first-letter {
	color: #ddd;
}

.drop-cap-light.drop-cap-fill::first-letter {
	color: #3d3c3c;
	background-color: #ddd;
}

.drop-cap-dark::first-letter {
	color: #3c3b3b;
}

.drop-cap-dark.drop-cap-fill::first-letter {
	color: #fff;
	background-color: #3c3b3b;
}
